<section class="home-page row">
	<div class="home-welcome col-md-6 col-md-offset-1">
		<h1>Welcome</h1>
		<h4><span>You've reached the home of Fight Like A Knight</span>, a place where fantasy becomes reality and your inner warrior comes out to play. Learn authentic weapon fighting techniques and styles in a live class with simulated sparring with other knights just like you.</h4>
	</div>
	<div class="home-updates col-md-4">
		<h1>Recent Updates</h1>
		<div class="update-underlay">
			<ul>
				<li><span>MAR 12</span> update here</li>
				<li><span>MAR 10</span> No class</li>
				<li><span>MAR 3</span> yippee</li>
			</ul>
		</div>
		<div class="updates-overlay">
			<ul>
				<li><span>MAR 12</span> update here</li>
				<li><span>MAR 10</span> No class</li>
				<li><span>MAR 3</span> yippee</li>
			</ul>
		</div>
	</div>
</section>