<div class="fullscreen first-section scroller"> 
    <img id="field-bg" src="assets/field_fight.jpg" alt="field_fight" />
    <img id="helmet-bg" src="assets/helmet.png" alt="helmet" />
    <div class="first-section-rhombus"></div>
    <div class="first-section-detail">
        <h1>Fight Like A Knight</h1>
        <p>“Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClin, a Latin professor at Hampden College Virginia, looked up one of the mo Latin words, consectetur, from a Lorem”<br/> - Chris Burns</p>
    </div>
<!--         <div class="scroll-nav">
        <h3>Skip Intro</h3>
    </div> -->
</div>
