<div class="flak-wrapper">
  <img id="flak" src="assets/FLAK_OG.png" alt="">
  <div class="intro-btn-group">
    <a id="intro-btn" href="/intro">INTRO</a>
    <p> | </p>
    <a id="enter" href="/home">ENTER</a>
  </div>
</div>
