<div class="lessons-wrapper">
	<div class="title">
		<p>C</p>
		<p>L</p>
		<p>A</p>
		<p>S</p>
		<p>S</p>
	</div>
	<div class="lesson-container lc-1">
		<div class="content-box content-1">
			<p>Fight Like a Knight classes offer a unique way to workout while satisfying the need for Chivalry, Honor, and Courtly Graces so absent from our traditional world.</p>
		</div>
	</div>
	<div class="lesson-container lc-2">
		<div class="content-box content-2">
			<p>(classes for ages 15 and up)</p>
			<p>In addition to the main course of authentic, unchoreographed, period combat, students learn everything from medieval and military history to strategy and tactics to social protocol and courtly grace. No prior training is required, and students range in skill from neophyte to advanced.</p>
			<p><span>Actors, Directors, Performers</span></p>
			<p>Enhance your resume with a truly noteworthy and sought-after skill. Get an edge on your competition, build confidence, and stand-out during physical auditions! Private sessions available.</p>
		</div>
	</div>
	<div class="lesson-container lc-3">
		<div class="content-box content-3">
			<p>(classes for children ages 5-10 and 11-14)</p>
			<p>Squires and Swordmaidens is a unique children’s class where authentic medieval sword-fighting is blended with honor, sportsmanship, etiquette and chivalry. Dragons, giants, distressed maidens, and oppressed townships provide the adventure-based structure in which students learn to ply both weapons and wisdom to overcome obstacles, solve puzzles and save the day. Students will learn basic footwork, swordwork, and defense, in a safe and controlled environment, using specialized equipment designed for this purpose. Focus is placed on authenticity and technique rather than on force and violence.</p>
			<p><span> ▪ PHYSICALLY FIT</span></p>
			<p>Children are kinetic, and developing kinesthetic awareness is essential to poise, balance, and agility. Many are .</p>
		</div>
	</div>
</div>