<div class="about-wrapper">
	<div class="about-wrapper-top">
		<img src="assets/about_chris_sm.jpg" alt="fight like a knight about image">
		<div class="about-wrapper-title">
			<p>A</p>
			<p>B</p>
			<p>O</p>
			<p>U</p>
			<p>T</p>	
		</div>
	</div>
	<div class="about-wrapper-main">
			<div class="about-wrapper-content">
				<h1>"What We Are"</h1>
				<p>Aside from being a passionate educator, Christopher has played numerous sports competitively and studied various martial arts. His path to the sword was one common to most young boys who fantasize about the romantic version of the Middle-Ages, where honor and chivalry ruled the day. After years of searching he finally came upon the Society for Creative Anachronism, a world-wide organization dedicated to re-creating a quixotic version of the time period between 200A.D. and 1500A.D.</p>

				<p>The SCA offered not only weekly tournaments where one could fight in full-speed, unchoreographed, full-contact battles, but also some form of practice session every night. Embracing all the organization had to offer, Christopher threw himself into training. Studying the kinesthetics and ergonomics of sword fighting, and the use of many other weapons, he developed a unique and graceful style that reduces joint impact and softtissue injuries tremendously. Christopher was knighted for his puissant skill at arms in 1995.</p>

				<p>Now, after 20 years, this training is made available to all who would have it, in the form of a workout unlike anything you have ever experienced!</p>

				<p>- Fight Like a Knight</p>
			</div>
			<div class="about-wrapper-friends">
				<h3>FRIENDS</h3>
				<p>CITY OF BURBANK</p>
				<p>THE ARTCHITECHS</p>
				<p>CODING DOJO</p>
				<p>SYD'S SWORDS</p>
				<p>ESPN</p>
				<p>REDBULL</p>
			</div>
	</div>
</div>