<div class="contact-background-img">
</div>
<div class="contact-title">
	<h1>Contact</h1>
</div>
<section class="contact-page">
	<div class="contact-content">
		<h2>Sundays @ 9am</h2>
		<p>North Hollywood Park
			<br />11456 Magnolia Blvd
			<br />North Hollywood, CA 91607
		</p>
		<h3>818-303-5895</h3>
		<a href="mailto:swordmaster@fightlikeaknight.com">swordmaster@fightlikeaknight.com</a>
	</div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6602.9251411886125!2d-118.39043637545434!3d34.16008926364074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bfd6c91435ed%3A0x4659478fb624f586!2sFight+Like+a+Knight!5e0!3m2!1sen!2sus!4v1407269671250" width="400" height="400" frameborder="0"></iframe>
</section>