/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap"

@font-face
  font-family: alienandcows
  src: font-url('alienandcows.ttf') format("truetype")
@font-face
  font-family: bigNoodleTitling
  src: font-url('bigNoodleTitling.ttf') format("truetype")
@font-face
  font-family: bigNoodleTitlingOblique
  src: font-url('big_noodle_titling_oblique.ttf') format("truetype")
@font-face
  font-family: socialCircles
  src: font-url('socialCircles.otf')
@font-face
  font-family: latoLightItalic
  src: font-url('Lato-LightItalic.ttf') format("truetype")
@font-face
  font-family: latoRegular
  src: font-url('Lato-Regular.ttf') format("truetype")
@font-face
  font-family: latoThin
  src: font-url('Lato-Thin.ttf') format("truetype")

/* --- - - FONTS - - --- */

$primary-font: alienandcows
$secondary-font: bigNoodleTitling
$secondary-font-italic: bigNoodleTitlingOblique
$media-icon-font: socialCircles
$text-font: latoRegular
$text-font-italic: latoLightItalic

/* --- - - COLORS - - --- */

$dark-green: rgba(#53704B, 1)
$olive-green: rgba(#647E5D, 1)
$light-green: rgba(#6C8764, 1)
$white: rgba(white, 0.9)
$off-white: rgba(white, 0.8)
$sand: rgba(#DED5BF, 1)
$text-gray: rgba(#5B5C5A, 1)
$dark-gray: rgba(#565B56, 1)
$light-gray: rgba(#989A97, 1)

/* --- - - MEDIA - - --- */
/* look at footer.sass to see how Sass variables work with @media and classes. Nesting is important */
$tablet-lg: "(max-width: 1199px)"
$tablet-md: "(max-width: 991px)"
$tablet-sm: "(max-width: 767px)"
$mobile-lg: "(min-width: 481px) and (max-width: 599px)"
$mobile-sm: "(max-width: 480px)"

=paper-background 
  background: image-url('paper_texture.png') 
  background-size: 100% 
  width: 100%
  position: fixed
  overflow: scroll

html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  +paper-background

  a:hover
    text-decoration: none

  ul
    padding: 0
    li
      padding: 0

@import "header.sass"
@import "footer.sass"
@import "blogs.sass"
@import "testimonials.scss"
@import "main.scss"
@import "lessons.scss"
@import "about.scss"
@import "home.sass"
