// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lato-it
  font-family: latoLightItalic
  font-size: 1.6rem
  color: $olive-green
.lato
  font-family: latoRegular
.lato-thin
  font-family: latoThin

.slant-heading
  font-family: $secondary-font-italic
  font-size: 4.8rem
  text-align: center
  letter-spacing: 0.15rem
  border-top: 0.1rem solid $olive-green
  border-bottom: 0.1rem solid $olive-green
  color: $olive-green
  padding: 0.5%
  margin-bottom: 1%
  display: inline-block
  
/* - - Blog Heading - - - - - */

h1
  margin: 5% 18% 0 0
  float: right

/* - - Blog - - - - - */
.blog_post
  max-width: 30%
  /*margin: 5% 0 1% 5%*/
  background-color: $white
  display: inline-block
  vertical-align: top
  img
    max-width: 100%

/* - - Blog Show - - - - */
.blog_show
  padding: 0 6%
  img
    float: left
    max-width: 50%
    margin: -1% 1% 1% 0
    box-shadow: 1px 1px 4px $light-gray

  .blog_content
    background-color: white
    margin: 1% 4% 1%
    padding: 2.25%
    line-height: 3rem
    font-size: 1.8rem
    color: $text-gray

  .green_rectangle
    width: 80px
    height: 14px
    margin-top: 2%
    background-color: $olive-green
  .green_rectangle, .nav-btn
    display: inline-block
    vertical-align: middle
  .nav-btn
    color: $olive-green
    font-family: $secondary-font
    font-size: 4.5rem
  .next
    text-align: right
    padding-left: 6%
  #front-rect
    margin-left: 3.5%

  /* - - BLOG COMMENTS - - */
  .comments
    width: 70%
    max-height: 450px
    margin: 7% 15% 0.2%
    overflow: scroll
    background-color: rgba($light-gray, 0.35)
    font-family: $text-font-italic
    h4
      color: $light-green
      font-family: $primary-font
      font-size: 3.75rem
      padding: 1%
      margin: 0 2% 1%
      border-bottom: solid $white 0.1rem
    .individual-comment
      padding: 1% 3%
      margin: 0.5% 1%
      color: $text-gray
      font-size: 1.55rem
      background-color: rgba($white, 0.6)
      .comment-name
        text-align: center
        margin-bottom: 0
        font-family: $secondary-font
        font-size: 1.75rem
      .comment-time
        text-align: center
        font-size: 1rem

  /* - - BLOG ADD COMMENT - - */
  #add_comment
    background-color: rgba($light-gray, 0.35)
    width: 70%
    padding: 1%
    margin: 0 15%
    h5
      font-family: $primary-font
      font-size: 3.5rem
      color: $light-green
      margin: 0 0 .75% 1%
    p
      font-family: $text-font-italic
    .btn
      font-family: $primary-font
      font-size: 2rem
      background-color: $dark-green
      color: $white
      padding-top: 0

    


  

