.top-nav
  margin: 0
  /*overflow: hidden*/
  width: 100%
  height: 20%
  max-height: 14.2857%
  padding: 2% 0
  margin-bottom: 2.8%
  ul
    width: 85%
    height: 100%
    text-align: center
    margin: 0 auto
    /*padding-left: 17.35%*/
    li
      width: 100%/6
      margin-right: 7%
      font-family: alienandcows
      font-size: 5rem
      display: inline-block
      &:last-child
        margin-right: 0
      a
        text-decoration: none
        color: darkgray
        &:hover
          color: lightgray
    .dropdown
      .dropbtn
        color: darkgray
        border: none
        background-color: transparent
      .dropdown-content
        visibility: hidden
        background-color: #fff
        position: absolute
        margin: 0 auto
        width: 100%
        z-index: 3
        a
          font-size: 2rem
          display: block
        a:hover
          color: lightgray
      &:hover .dropdown-content
        visibility: visible
