// Place all the styles related to the Testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.testimonial-wrapper-main 
	overflow: scroll
	height: 100vh
	margin-bottom: 150px
	padding-bottom: 40px

	.testimonial-background-img
		height: 100vh
		width: 100%
		z-index: -100
		padding-top: 30px
		position: absolute
		background-image: url("chainmail_bg.jpg")
		background-size: cover
		background-repeat: no-repeat
		background-attachment: fixed
		opacity: 0.3
	// display: absolute
	// top: 0
	// left: 0
	// overflow: hidden

	.comment-block 
		margin: 20px auto
		display: block
		width: 90%
		padding: 15px 0
		
		.comment-content 
			width: 80%
			background-color: rgba($off-white, 0.95)
			box-shadow: $drop-1
			color: $light-green
			font-family: $text-font-italic
			font-size: 18px
			padding: 20px 40px

			div:last-child 
				margin-left: 2em
				opacity: .7
				.comment-form-like 
					display: inline-block

		&:nth-child(even) 
			.comment-content 
				margin-left: auto
				margin-right: 0

	.testimonial-wrapper-form 
		color: white
		width: 60%
		margin: 40px auto
		padding: 1.5em 2em
		border-radius: 10px
		// background-color: 
		h4 
			margin-top: 0
			font-family: $secondary-font
			font-size: 30px
			color: $dark-green
		
		input 
			display: block
			margin-bottom: 1em
			// background-color: #F2DCF7
			color: $text-gray
		
		input:last-of-type 
			width: 80%
			height: 4em
			display: inline-block
			margin-bottom: 0
		
		button 
			margin-left: 20px
			background-color: $dark-green
			font-family: $secondary-font
			font-size: 18px
			border: none
			padding: 5px 15px
			display: inline-block
