// Place all the styles related to the Testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-testimonial {
	height: 1000px;
	background-image: url("chainmail_bg.jpg");
	background-size: 100vw auto;
	background-repeat: no-repeat;
	padding-top: 3em;
	overflow: scroll;
}

.block {
	display: block;
	width: 100vw;
	padding: 0 7% 2em 7%;
	.comment {
		width: 80%;
		background-color: rgba(255, 255, 255, 0.87);
		padding: 3em 3.5em 2em 3.5em;
		font-weight: bolder;
		div:last-child {
			margin-left: 2em;
			opacity: .7;
			.testy {
				display: inline-block;
			}
		}
	}

	&:nth-child(even) {
		.comment {
			margin-left: auto;
			margin-right: 0;
		}
	}
}

.wrapper-new-testimonial {
	color: white;
	width: 60vw;
	margin: 40px auto;
	padding: 1.5em 2em;
	background-color: rgba(0, 0, 0, 0.87);
	h4 {
		margin-top: 0;
	}
	input {
		display: block;
		margin-bottom: 1em;
		background-color: #F2DCF7;
		color: black;
	}
	input:last-of-type {
		width: 80%;
		height: 4em;
		display: inline-block;
		margin-bottom: 0;
	}
	button {
		margin-left: 20px;
		background-color: #6D6D6E;
		display: inline-block;
	}
}

